<h1>Editing Book</h1>
<%= form_with model: @book do |f| %>


  <h4>Title</h4>
  <%= f.text_field :title %>




  <h4>Body</h4>
  <%= f.text_area :body %>


  <%= f.submit 'Update Book' %>

  <%=link_to "Show", book_path(@book.id) %>
  <%=link_to "Back", "/books" %>

<% end %>
