  <h1>Editing Book</h1>

  <% if @book.errors.any? %>
    <%= @book.errors.count %>errors prohibited this book from begin saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

<%= form_with model: @book do |f| %>


  <h4>Title</h4>
  <%= f.text_field :title %>




  <h4>Body</h4>
  <%= f.text_area :body %>


  <%= f.submit 'Update Book' %>

  <%=link_to "Show", book_path(@book.id) %>
  |
  <%=link_to "Back", "/books" %>

<% end %>
