<h1>Books</h1>

<body>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
        <th colspan="3"></th>
      </tr>
    </thead>

<% @books.each do |book| %>

    <tbody>
      <tr>
        <td><%= book.title %></td>
        <td><%= book.body %></td>
        <td>
          <%= link_to "Show", book_path(book.id), method: :patch %>
        </td>
        <td>
          <%= link_to "Edit", edit_book_path(@book.id) %>
        </td>
        <td>
          <%= link_to "Destroy", book_path(@book.id), method: :delete,"data-confirm" => "本当に削除しますか？" %>
        </td>
      </tr>
    </tbody>
    
<% end %>
    
  </table>
  
  <h1>New Book</h1>
  <%= form_with model: @book, url: '/books', method: :post do |f| %>
<!--どのurlにフォームの情報を送信するか厳密に指定できる-->
    <h4>Title</h4>
    <%= f.text_field :title %>
  
　  <h4>Body</h4>
　  <%= f.text_area :body %>
　
　  <div class="actions">
　  <%= f.submit 'Create Book' %>
　  </div>
　  
  <% end %>
　
  
</body>
  


  
  
  

